<footer>
    <div style="width: 100%; background-color: #303030">
        <ul class="clearfix">
            <div class="row">
                <div class="small-4 large-4 columns footerleft">
                    <li class="footer_banner_box super_light_green">
                        <div class="row">
                            <div class="small-3 large-3 columns">
                                <span class="banner_icon favourite"></span>
                            </div>
                            <div class="small-9 large-9 columns">
                                <div class="content">
                                    <h2>Favorittretter</h2>
                                    <h3>Legg til dine favoritter</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="small-4 large-4 columns" style="padding: 0">
                    <li class="footer_banner_box light_green">
                        <div class="row">
                            <div class="small-3 large-3 columns">
                                <span class="banner_icon food"></span>
                            </div>
                            <div class="small-9 large-9 columns">
                                <div class="content">
                                    <h2>
                                        Dietter
                                    </h2>
                                    <h3>Sett opp din egen diet</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="small-4 large-4 columns footerright">
                    <li class="footer_banner_box green">
                        <div class="row">
                            <div class="small-3 large-3 columns">
                                <span class="banner_icon blog"></span>
                            </div>
                            <div class="small-9 large-9 columns">
                                <div class="content">
                                    <h2>
                                        Egen matblogg?
                                    </h2>
                                    <h3>Ta kontakt!</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
        <div class="row footer">
            <div class="small-6 large-6 columns">
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <h4 class="box_header">Kontakt</h4>
                    </div>
                </div>
                <div class="row" st>
                    <div class="small-6 large-6 columns">
                        Epost:
                    </div>
                    <div class="small-6 large-6 columns">
                        arnstej@gmail.com
                    </div>
                </div>
            </div>
            <div class="small-6 large-6 columns">
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <h4 class="box_header">Sosiale medier</h4>
                    </div>
                </div>
                                <div class="row">
                    <div class="small-12 large-12 columns">
                        <ul class="footer_social_icons clearfix">
                            <li>
                                <a class="social_icon facebook" href="http://www.facebook.com/pages/QuanticaLabs/364777863576878"
                                    title="">&nbsp;
                                </a>
                            </li>
                            <li>
                                <a class="social_icon twitter" href="https://twitter.com/QuanticaLabs" title="">&nbsp;
                                </a>
                            </li>
                            <li>
                                <a class="social_icon google" href="#" title="">&nbsp;
                                </a>
                            </li>
                            <li>
                                <a class="social_icon skype" href="#" title="">&nbsp;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 15px">
            <div class="small-12 large-12 columns">
                <div class="copyright_area">
                    <div class="copyright_left">
                        Arnstein Johansen
                    </div>
                    <div class="copyright_right">
                        <a class="scroll_top icon_small_arrow top_white" href="#top" title="Scroll to top">Top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
