            <div class="small-12 large-12 columns">
                @Html.TextArea("tbMessage", new { placeholder = "Kommentar", @class = "text_input"})
                <a href="#" class = "more icon_small_arrow margin_right_white" id = "btnAddComment">Svar</a>
            </div>