@model CommentViewModel
@using (Html.BeginForm("LeaveComment", "Comment", FormMethod.Post, new { @class = "contact_form" }))
{
    <div class="small-6 large-6 columns">
        @Html.TextBoxFor(m => m.Username, new { @class = "text_input" })
        @Html.TextBoxFor(m => m.Email, new { @class = "text_input" })
        @Html.TextBoxFor(m => m.WebSite, new { @class = "text_input" })
    </div>
    <div class="small-6 large-6 columns">
        @Html.TextAreaFor(m => m.Text, new { @class = "text_input" })
        <input type="submit" class="more icon_small_arrow margin_right_white" value="Svar" />
    </div>
}
