<div id="accordion" class="training_classes">
    <h3>First header</h3>
    <div>First content</div>
    <h3>Second header</h3>
    <div>Second content</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/mainpage")
    <script src="~/js/mainpage.js"></script>
}